*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.underline::before {
  content: '';
  height: 1px;
  width: 128px;
  background-color: green;
  display: block;
  position: relative;
  bottom: 30px;
  left: -400px;
}

.underline {
  background-color: green;
  height: 0;
  margin: 0 auto;
  width: 128px;
}

.underline::after {
  content: "";
  height: 1px;
  width: 128px;
  background-color: green;
  display: block;
  position: relative;
  bottom: 30px;
  left: 390px;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

nav {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.navbar-toggler {
  font-size: 2rem;
}

.navbar-brand {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: none;
}

header {
  font-size: 1.5rem;
}

.carousel-item {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.carousel-img-one {
  background-image: url("../img/IMG_7518.JPG");
}

.carousel-img-two {
  background-image: url("../img/IMG_7522.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-img-three {
  background-image: url("../img/IMG_1152.JPG");
}

.aboutus p {
  font-family: 'Montserrat', sans-serif;
  line-height: 45px;
}

.aboutus h2 {
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
}

.aboutus .row {
  margin: 5px;
  width: 100%;
}

.aboutus .row .aboutus-card-text {
  display: inline-block;
  position: relative;
  width: 400px;
  left: 103px;
  top: 36px;
  font-size: 28px;
  font-family: 'Antonio', sans-serif;
  margin: 2px;
  padding: 2px;
}

.aboutus .row .aboutus-imgOne {
  display: inline-block;
  width: 383px;
  position: relative;
  top: 16px;
  border-radius: 50px;
  left: 439px;
  border: solid 1px black;
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/IMG_7477.JPG);
}

.aboutus .row .aboutus-card-description {
  position: relative;
  top: 498px;
  left: 55px;
  font-size: 28px;
  font-family: 'Antonio', sans-serif;
  width: 400px;
  line-height: 45px;
}

.aboutus .row .aboutus-imgTwo {
  position: relative;
  top: -169px;
  left: 62px;
  border-radius: 50px;
  border: solid 1px black;
  width: 590px;
  height: 445px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img//team.jpeg);
}

.aboutus .aboutus-eco {
  padding-bottom: 55px;
}

.aboutus .aboutus-eco .aboutus-title .aboutus-eco-text {
  position: relative;
  top: 0;
  left: 295px;
  margin-top: 80px;
  width: 700px;
  text-align: center;
  margin: 25px 5px;
  font-size: 28px;
  font-family: 'Antonio', sans-serif;
  line-height: 45px;
}

.aboutus .aboutus-eco .imageContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}

.aboutus .aboutus-eco .imageContainer .aboutus-eco-imgOne {
  display: inline-block;
  background-image: url(../img/);
  background-size: cover;
  border-radius: 58px;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}

.aboutus .aboutus-eco .imageContainer .aboutus-eco-imgTwo {
  display: inline-block;
  background-image: url(../img/ecoOne.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  border-radius: 58px;
}

.aboutus .aboutus-eco .imageContainer .aboutus-eco-imgThree {
  background-image: url(../img/ecothree.jpeg);
  width: 400px;
  height: 400px;
  background-size: cover;
  position: relative;
  border-radius: 58px;
  top: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */