@import 'colors';
// font-family: 'Antonio', sans-serif;
// font-family: 'Lobster', cursive;
// font-family: 'Lobster Two', cursive;
// font-family: 'Antonio', sans-serif;
// font-family: 'Lobster Two', cursive;
// font-family: 'Montserrat', sans-serif;
// enctype="multipart/form-data"

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
   font-size: 62.5%;
}

body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

h2{
    text-align: center;
    text-transform: uppercase;
    // font-family: 'Dancing Script';
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

// .underline::before {
//   content: '';
//   height: 1px;
//   width: 128px;
//   background-color: $main-color;
//   display: block;
//   position: relative;
//   bottom: 30px;
//   left: -400px;
// }

// .underline{
//     background-color: $main-color;
//     height: 0;
//     margin: 0 auto;
//     width: 128px;
// }
// .underline::after {
//   content: "";
//   height: 1px;
//   width: 128px;
//   background-color: $main-color;
//   display: block;
//   position: relative;
//   bottom: 30px;
//   left: 390px;
// }

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

// nawigacja

nav{
    font-size: 1.5rem;
    text-transform: uppercase;
}


.navbar-toggler{
    font-size: 2rem;
}

.navbar-brand{
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: none;
}

// header

header{
    font-size: 1.5rem;
}

.carousel-item{
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.carousel-img-one{
    background-image: url('../img/IMG_7518.JPG');
}
.carousel-img-two{
    background-image: url('../img/IMG_7522.JPG');
    background-size: cover;
              background-repeat: no-repeat;      
}
.carousel-img-three{
    background-image: url('../img/IMG_1152.JPG');
}

// main

.aboutus{
    .container{
        width: 100%;
        // background-color: red;

        .aboutus-text{
            display: flex;
            flex-direction: column;
            margin: 25px 0;
            .text{
                display: inline-block;
                text-align: center;
                font-size: 18px;
                font-family: 'Antonio', sans-serif;
                line-height: 35px;
            }
            .aboutus-imgOne{
                background-image: url(../img/IMG_7477.JPG);
                width: 250px;
                height: 250px;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 5px;
                display: inline-block;
                border-radius: 25px;
                align-self: center;
            }
            .aboutus-imgTwo{
                background-image: url(../img/mobile/mobileMichael.png);
                width: 250px;
                height: 250px;
                background-size: cover;
                background-repeat: no-repeat;
                margin-bottom: 50px;
                display: inline-block;
                border-radius: 25px;
                align-self: center;
            }
        }
    }
}

.contactus{
height: 100vh;
width: 100%;
.container-form{
.form-container{
position: relative;
top: 150px;
width: 75%;
margin: 0 auto;
form {
    border-radius: 30px;
    background: #fff;
      }
      .form-left-decoration,
      .form-right-decoration {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      border-radius: 20px;
      background: #5a7233;
      }
      .form-left-decoration {
      bottom: 60px;
      left: -30px;
      }
      .form-right-decoration {
      top: 60px;
      right: -30px;
      }
      .form-left-decoration:before,
      .form-left-decoration:after,
      .form-right-decoration:before,
      .form-right-decoration:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      border-radius: 30px;
      background: #fff;
      }
      .form-left-decoration:before {
      top: -20px;
      }
      .form-left-decoration:after {
      top: 20px;
      left: 10px;
      }
      .form-right-decoration:before {
      top: -20px;
      right: 0;
      }
      .form-right-decoration:after {
      top: 20px;
      right: 10px;
      }
      .circle {
      position: absolute;
      bottom: 80px;
      left: -55px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      }
      .form-inner {
      padding: 40px;
      }
      .form-inner input,
      .form-inner textarea {
      display: block;
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border: none;
      border-radius: 20px;
      background: #d0dfe8;
      }
      .form-inner textarea {
      resize: none;
      }
      button {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      border-radius: 20px;
      border: none;
      border-bottom: 4px solid #3e4f24;
      background: #5a7233; 
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      }
      button:hover {
      background: #3e4f24;
      }
   }
}
}

// footer

.footer-container{
    .social-media{
        ul{
            display: flex;
            list-style-type: none;

            li{
                margin-right: 10px;
            }
        }
    }
}




// .aboutus{

// .aboutus-description{
// position: relative;
// top: 6px;
// }
//     p{
//        font-family: 'Montserrat', sans-serif; 
//        text-align: center;
//     }

//      h2{
//      font-size: 38px;
//      font-family: 'Montserrat', sans-serif;
//      font-weight: light;
//      }

//     .row{
//         // margin: 5px;
//         // background-color: red;

//      .aboutus-card-text{
//               display: inline-block;
//               position: relative;
//               width: 300px;
//               top: 8px;
//               left: 46px;
//               font-size: 18px;
//               font-family: 'Antonio', sans-serif;
//               margin: 2px;
//               padding: 2px;
//          } 

//         .aboutus-imgOne{
//               display: inline-block;
//               position: relative;
//               top: 16px;
//               border-radius: 50px;
//               left: 95px;
//               border: solid 1px black;
//               height: 200px;
//               width: 200px;
//               background-size: cover;
//               background-repeat: no-repeat;
//               background-image: url(../img/IMG_7477.JPG);
//          }

//         .aboutus-card-description{
//                 left: 0;
//                 position: relative;
//                 top: 10px;
//                  font-size: 28px;
//                  font-family: 'Antonio', sans-serif;
//          }
//          .aboutus-imgTwo{
//              position: relative;
//              top: 25px;
//              left: 95px;
//              border-radius: 50px;
//              border: solid 1px black;
//              width: 200px;
//              height: 200px;
//              background-size: cover;
//              background-repeat: no-repeat;
//              background-image: url(../img/mobile/mobileMichael.png);
//             }
//         .aboutus-eco{
//             padding-bottom: 55px;
//             margin-top: 30px;
//             .eco-description{
//                 position: relative;
//                 top: 0;
//             }
//             .aboutus-title{
                
//                 .aboutus-eco-text{
//                 position: relative  ;
//                 top: 0;
//                 margin-top: 80px;
//                 text-align: center;
//                 margin: 25px 5px;
//                 font-size: 18px;
//                 font-family: 'Antonio', sans-serif;
//                  }
//             }

//             .imageContainer{
//                 position: relative;
//                 width: 100%;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 gap: 10px;
            
//              .aboutus-eco-imgOne{
//               display: inline-block;
//               background-image: url(../img/LTZH9489.JPG);
//               background-size: cover;
//               border-radius: 58px;
//               background-repeat: no-repeat;
//               height: 200px;
//               width: 200px;
//               }

//                 .aboutus-eco-imgTwo{
//                  display: inline-block;
//                  background-image: url(../img/ecoOne.jpeg);
//                  background-size: cover;
//                  background-repeat: no-repeat;
//                  height: 200px;
//                  width: 200px;
//                  border-radius: 58px;
//                  }

//                  .aboutus-eco-imgThree{
//                      background-image: url(../img/ecothree.jpeg);
//                      width: 200px;
//                      height: 200px;
//                      background-size: cover;
//                      position: relative;
//                      border-radius: 58px;
//                      top: 0;
//                      right: 0;
//                  }  
//             }             
//      }    }
// }




  
